streamlit
python-docx
comtypes; platform_system == "Windows"
pythoncom; platform_system == "Windows"
Pillow
PyPDF2
PyMuPDF
pdf2docx
num2words
streamlit
google-cloud-firestore
firebase-admin
google-cloud-storage
